body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; 
    color: #e2d7d7; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.header {
    background-image: url('./img/Captura de pantalla 2024-10-15 205407.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
    position: fixed; 
    top: 0;
    z-index: 10; 
}



.container {
    display: flex;
    flex-direction: row;
    margin-top: 80px; 
    width: 100%;
}


.modules {
    flex: 1;
    padding: 20px;
    max-width: 300px; 
    background-color: #262a2b; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(99, 94, 94, 0.973);
    margin-top: 20px; 
    height: calc(100vh - 100px); 
    overflow-y: auto; 
    
}

.colorletra {
color: #2A363B;
}




.module {
    padding: 15px;
    margin: 10px 0;
    background-color: #0083eef7; 
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s; 
}

.module_andony1 {
    padding: 15px;
    margin: 10px 0;
    background-color: #5da8ff; 
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s; 
}
.modules_andony1 {
    flex: 1;
    padding: 20px;
    max-width: 300px; 
    background-color: #262a2b; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.973);
    margin-top: 20px; 
    height: calc(100vh - 100px); 
    overflow-y: auto; 
}

.module:hover {
    transform: translateY(-5px); 
}


.content {
    flex: 3;
    padding: 50px;
    background: linear-gradient(to right, rgb(199, 123, 226), rgb(123, 226, 199)); /* Degradado de morado a verde */
}



.content-andony1 {
    flex: 3;
    padding: 20px;
background: linear-gradient(90deg, #001f3f, #005f99, #003366);
}

.module-content {
    display: none; 
    padding: 15px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(6, 6, 6, 0.936);
    margin-top: 10px; 
}

.module-content-andony1 {
    display: none; 
    padding: 15px;
    background: linear-gradient(90deg, #7dbeff, #6fbef0, hsl(210, 100%, 69%));
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(6, 6, 6, 0.936);
    margin-top: 10px; 
}

.active {
    display: block; 
}


